body {
    width: 100%;
    font-family: Georgia, serif;
    font-size: 16px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    
}

nav {
    margin-top: -5px;
    margin-right: 10px;
    padding: 10px;
}

#collapsibleNavbar {
    margin-right: 5px;
    text-align: right;
    
}

.navbar-toggler {
    border: transparent;
    padding: 2px;
}

a:link {
    color: darkolivegreen;
    background-color: transparent;
    text-decoration: none;

}

a:hover {
    color: darkolivegreen;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: peru;
    background-color: transparent;
    text-decoration: none;

}

.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.header img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#etusivu {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    background-color: blanchedalmond;
}

.otsikko {
    text-align: end;
    padding-top: 110px;
    padding-right: 20px;

}

.esittely {
    text-align: end;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 10px;
}

.otsikko2 {
    text-align: start;
    padding-top: 100px;
    padding-left: 40px;
 
}

.tarina {
    text-align: start;
    padding-left: 40px;
    padding-right: 20px;
    
}

#rahi {
    max-width: 100%;
    height: auto;
  
}

.otayhteytta {
    text-align: end;
    padding-top: 20px;
    padding-right: 20px;
}

#galleria {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    background-color: blanchedalmond;

}
#otsikko3 {
    text-align: end;
    padding-top: 105px;
    padding-right: 40px;
    padding-bottom: 5px;
    margin-bottom: 0;
}

#demo {
    max-width: 100%;
    height: auto;
    margin: auto;
    object-fit: cover;
    display: flex;
    
}

.thumbnails {
    padding-right: 40px;
    width: 90%;
    height: 90%;
    max-width: 100%;
    float: inline-end;

}

#sivupoyta {
    margin-bottom: 15px;

}

#murasaki {
    margin-bottom: 10px;

}

#yhteystiedot {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    text-align: center;
    background-color: blanchedalmond;
    
}

#logo{
    max-width: 100%;
    padding-top: 85px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

#otsikko5 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 0px;
}

.yhteystiedot {
    margin-bottom: 25px;
}

#ig-linkki {
    padding-top: 10px;
    padding-bottom: 85px;
}

footer {
    font-size: 14px;
    margin: 5px;
    text-align: center;
    position: sticky;
    bottom: 0;

}

@media (max-width: 1199px) { 

    .header {
        max-width: 100%;
        background-size: cover;
    }

    nav {
       
        padding: 10px;
    }

    .navbar-collapse.collapse {
        background-color: rgba(255, 235, 205, 0.736);
        transition: background-color 0.3s ease-in-out;
        padding: 5px;
    }

    #rahi {
        max-width: 100%;
        height: auto;
        
    }

    .otsikko {
        text-align: center;
        padding-top: 25px;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .esittely {
        text-align: center;
        padding: 5px;
    }
    
    .otsikko2 {
        text-align: center;
        padding: 5px;
    }
    
    .tarina {
        text-align: center;
        padding: 5px;
    }
    
    .otayhteytta {
        text-align: center;
        padding: 5px;
    }

    #galleria .col-md-6 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: auto; 
    }
 
    #galleria .col-md-4 {
        margin: auto;
        display: block;
        width: 50%;
        height: auto;

    }
} 